{% extends "base.html" %}
{% block title %}تایید کد - دیجی‌استور{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">ورود با کد</h5>
        <p class="text-muted">کد ۶ رقمی ارسال‌شده به {{ phone }} را وارد کنید.</p>

        <form method="post">
          {% csrf_token %}
          {{ form.phone }}  {# hidden #}
          <div class="mb-3">
            {{ form.code.label_tag }}
            {{ form.code }}
          </div>
          <button class="btn btn-success">تایید</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}