{% extends 'base.html' %}
{% block title %}افزودن محصول{% endblock %}
{% block content %}
<div class="container" style="max-width:700px">
  <h3 class="mb-3">افزودن محصول جدید</h3>
  <form method="post" enctype="multipart/form-data" class="card p-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-2">
      <label class="form-label">نام محصول</label>
      {{ form.title }}
      <div class="text-danger small">{{ form.title.errors }}</div>
    </div>
    <div class="mb-2">
      <label class="form-label">توضیحات</label>
      {{ form.description }}
    </div>
    <div class="mb-2">
      <label class="form-label">قیمت (تومان)</label>
      {{ form.price }}
    </div>
    <div class="mb-2">
      <label class="form-label">موجودی</label>
      {{ form.stock }}
    </div>
    <div class="mb-2">
      <label class="form-label">تصویر</label>
      {{ form.image }}
    </div>

    <button class="btn btn-primary">ذخیره</button>
  </form>
</div>
{% endblock %}