asgiref==3.10.0                # ASGI reference implementation for async support in Django
Django==5.2.8                  # The main Django web framework
django-crispy-forms==2.5       # Helps render Django forms nicely with Bootstrap or other CSS frameworks
django-decouple==2.1            # Manages environment variables and separates settings from code
django-extensions==4.1          # Adds extra management commands and utilities for Django
django-widget-tweaks==1.5.0     # Allows tweaking form field rendering in templates
pillow==12.0.0                  # Python Imaging Library fork for image processing
psycopg2-binary==2.9.11         # PostgreSQL database adapter for Python
sqlparse==0.5.3                 # SQL parsing library, used internally by Django
whitenoise==6.11.0              # Serves static files efficiently in production without a separate web server