{% extends "base.html" %}
{% block title %}{{ view.title|default:'ایجاد محصول' }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5>{{ view.title|default:'ایجاد / ویرایش محصول' }}</h5>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-success">ذخیره</button>
          <a class="btn btn-secondary" href="{% url 'product:list' %}">انصراف</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}