{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}دیجی‌استور{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- IranSans -->
    <style>
        @font-face {
            font-family: IranSans;
            src: url("{% static 'fonts/IRANSans.ttf' %}");
        }
        body {
            font-family: IranSans, sans-serif;
            background-color: #f5f5f5;
        }
    </style>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    {% include "includes/navbar.html" %}

    <!-- CONTENT -->
    <main class="container py-4">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <small>© ۲۰۲۵ دیجی‌استور — فروشگاه تخصصی لپ‌تاپ، موبایل و تبلت</small>
    </footer>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    {% block scripts %}{% endblock %}

</body>

</html>