{% extends 'base.html' %}
{% block title %}پروفایل{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <h3 class="mb-4 text-center">پروفایل شما</h3>

    <div class="card p-4 shadow-sm">

        <p><strong>نام:</strong> {{ user.full_name }}</p>
        <p><strong>شماره موبایل:</strong> {{ user.phone }}</p>
        <p><strong>نقش:</strong> 
            {% if user.is_seller %} فروشنده {% else %} خریدار {% endif %}
        </p>

        {% if not user.is_seller %}
        <p><strong>آدرس:</strong> {{ user.customer_profile.address|default:'—' }}</p>
        <p><strong>کد پستی:</strong> {{ user.customer_profile.postal_code|default:'—' }}</p>
        {% endif %}

        <a href="{% url 'account:profile_edit' %}" class="btn btn-primary mt-3">
            ویرایش پروفایل
        </a>

    </div>
</div>
{% endblock %}