{% extends "base.html" %}
{% block title %}ویرایش پروفایل — فروشنده{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">

        <div class="card shadow-sm border-0" style="border-radius:14px;">
            <div class="card-body p-4">

                <h4 class="fw-bold mb-3 text-primary">ویرایش پروفایل فروشنده</h4>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        {{ form.full_name.label_tag }}
                        {{ form.full_name }}
                    </div>

                    <div class="mb-3">
                        {{ form.store_name.label_tag }}
                        {{ form.store_name }}
                    </div>

                    <div class="mb-3">
                        {{ form.national_id.label_tag }}
                        {{ form.national_id }}
                    </div>

                    <div class="mb-3">
                        {{ form.phone_secondary.label_tag }}
                        {{ form.phone_secondary }}
                    </div>

                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>

                    <button class="btn btn-success px-4">ذخیره</button>

                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}