{% extends "base.html" %}
{% block title %}ویرایش پروفایل - خریدار{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5>ویرایش پروفایل خریدار</h5>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.full_name.label_tag }} {{ form.full_name }}
          </div>
          <div class="mb-3">
            {{ form.address.label_tag }} {{ form.address }}
          </div>
          <div class="mb-3">
            {{ form.postal_code.label_tag }} {{ form.postal_code }}
          </div>
          <button class="btn btn-success">ذخیره</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}