{% extends 'base.html' %}
{% block title %}ورود به حساب{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 450px;">
    <h3 class="mb-4 text-center">ورود به حساب</h3>

    <form method="post" class="card p-4 shadow-sm">
        {% csrf_token %}

        <label class="form-label">شماره موبایل</label>
        {{ form.phone }}
        <div class="text-danger small">{{ form.phone.errors }}</div>

        <button class="btn btn-primary w-100 mt-3">ورود</button>

        <a href="{% url 'account:send_otp' %}" class="btn btn-outline-secondary w-100 mt-2">
            حساب ندارید؟ ثبت‌نام
        </a>
    </form>
</div>
{% endblock %}