{% extends "base.html" %}
{% block title %}ثبت‌نام — دیجی‌استور{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm border-0" style="border-radius:14px;">
            <div class="card-body p-4">

                <h4 class="fw-bold mb-2 text-primary">ثبت‌نام</h4>
                <p class="text-muted mb-4">شماره: {{ phone }}</p>

                <form method="post">
                    {% csrf_token %}

                    {{ form.phone }}  {# hidden #}

                    <div class="mb-3">
                        {{ form.full_name.label_tag }}
                        {{ form.full_name }}
                    </div>

                    <div class="mb-3">
                        {{ form.role.label_tag }}
                        {{ form.role }}
                    </div>

                    <button class="btn btn-success w-100">ثبت‌نام و ورود</button>

                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}