{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}دیجی‌استور — فروشگاه دیجیتال{% endblock %}

{% block content %}

<!-- 🔥 HERO BANNER -->
<div class="hero-banner mb-4"
     style="background: url('{% static 'images/banner.png' %}') center/cover no-repeat;
            height: 300px; border-radius: 14px; position: center;">
    {% comment %} <div class="banner-overlay"></div>
    <div class="banner-text">
        <h1 class="fw-bold">به دنیای دیجیتال خوش آمدید</h1>
        <p class="lead">خرید لپ‌تاپ، موبایل و تبلت با بهترین قیمت</p>
    </div> {% endcomment %}
</div>


<div class="row">

    <!-- محصولات -->
    <div class="col-lg-9">

        <h4 class="fw-bold mb-3">جدیدترین محصولات</h4>

        <div class="row">
            {% for p in latest_products %}
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="product-card shadow-sm">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}"
                         class="product-img">

                    <div class="p-3">
                        <h6 class="fw-bold mb-1">{{ p.title }}</h6>
                        <p class="text-muted small mb-2">{{ p.store.store_name }}</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ p.get_absolute_url }}" class="btn btn-sm btn-outline-primary">مشاهده</a>
                            <span class="fw-bold">{{ p.price|intcomma }} تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>محصولی موجود نیست</p>
            {% endfor %}
        </div>

    </div>

    <!-- دسته‌بندی‌ها -->
    <div class="col-lg-3">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h6 class="fw-bold mb-3">دسته‌بندی‌ها</h6>
                <ul class="list-unstyled">
                    {% for c in categories %}
                        <li><a class="text-dark" href="{% url 'product:list' %}?category={{ c.id }}">{{ c.name }}</a></li>
                    {% empty %}
                        <li class="text-muted">بدون دسته‌بندی</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}